{% extends 'layout.html' %}
{% block content %}
<div class="main-body">
    <div class="image_container">
        <img src="{{ game.image_url }}" alt="Game art for {{ game.title }} " />
    </div>
    <div class="description">
        <div class="deets">
            <div class="info-block">
                <p class="headings">T I T L E</p>
                <p class="info">{{ game.title }}</p>
            </div>
            <div class="info-block">
                <p class="headings">P U B L I S H E R</p>
                <p class="info">{{ game.publisher.publisher_name }}</p>
            </div>
            <div class="info-block">
                <p class="headings">R E L E A S E   D A T E</p>
                <p class="info">{{ game.release_date }}</p>
            </div>
            <div class="info-block">
                <p class="headings">P R I C E</p>
                <p class="info">{{ game.price }}</p>
            </div>
            <div class="info-block">
                <p class="headings">G E N R E S</p>
                {% for genre in game.genres %}
                    <p class="info">{{ genre.genre_name }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="description-text">
            <div class="info-block">
                <p class="headings">D E S C R I P T I O N</p>
                <p>{{ game.description }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
