<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Description</title>
    <link
      rel="stylesheet" href="../static/css/main.css"
    />
</head>
<body style="background-color: #d162a4">

      <header id="description-header">
    <h1>CS235 2023: My Game Library</h1>
    <div class="copyright">&copy; ewu814 (Elizabeth) | mgan655 (May) | akim525 (Alex)</div>
</header>

<section class="description">
    <div class="description-text">
        <h2>Call of Duty® 4: Modern Warfare®</h2>
        <p><i>Release Date:</i> Nov 12, 2007 </p>
        <p><i>Price:</i> 9.99</p>
        <p><i>About:</i> The new action-thriller from the award-winning team at Infinity Ward, the creators of the Call of Duty® series, delivers the most intense and cinematic action experience ever. </p>
    </div>
    <div class="game-image">
        <img src="https://cdn.akamai.steamstatic.com/steam/apps/7940/header.jpg?t=1646762118" alt="game image">
    </div>
</section>

</body>
</html>