{% extends 'layout.html' %} {% block content %}
<div class="main-body">
    <h2>{{ heading }}</h2>

    <div class="sort">
        <form action="{{ url_for('genres_bp.games_by_genre_page') }}" method="GET">
            <input type="hidden" name="genre" value="{{ target_genre }}">
            <label for="sort">Sort by:</label>
            <select name="sort" id="sort">
                <option value="title" {{ 'selected' if sort == 'title' }}>Title</option>
                <option value="price" {{ 'selected' if sort == 'price' }}>Price</option>
            </select>

            <br>

            <label for="order">Order:</label>
            <select name="order" id="order">
                <option value="asc" {{ 'selected' if order == 'asc' }}>Ascending</option>
                <option value="desc" {{ 'selected' if order == 'desc' }}>Descending</option>
            </select>

            <br>

            <input type="submit" value="Sort">
        </form>
    </div>

    <div class="games_container_container">
    <div class="games_container">
    {% for game in games_list %}
    <div class="game_card {{ loop.cycle('odd', 'even') }}">
        <a href="{{ url_for('gameDescription_bp.game_desc_page', game_id=game.game_id) }}" class='card-link'></a>

        <div class="image_container">
            <img src="{{ game.image_url }}" onerror="this.onerror=null; this.src='../static/no-image.png'" alt="Game art for {{ game.title }} " />
        </div>

        <div class="game_details">
            <div class="info-block">
                <p class="headings">T I T L E</p>
                <p class="info">{{ game.title }}</p>
            </div>

            <div class="info-block">
                <p class="headings">P U B L I S H E R</p>
                <p class="info">{{ game.publisher.publisher_name }}</p>
            </div>

            <div class="info-block">
                <p class="headings">R E L E A S E &nbsp D A T E</p>
                <p class="info">{{ game.release_date }}</p>
            </div>

            <div class="info-block">
                <p class="headings">P R I C E &nbsp (U S D)</p>
                <p class="info">${{ game.price }}</p>
            </div>

            <div class="info-block">
                <p class="headings">G E N R E S</p>
                {% for genre in game.genres %}
                    <p class="info">{{ genre.genre_name }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    </div>

    <div class="pagination">
        {% for i in range(0, total_pages) %}
            <a href="{{ pagination_urls[i] }}" class="{{ 'page_selected' if page == i+1 }}">{{ i+1 }}</a>
        {% endfor %}

        <div class="prev-next">
            <div class="prev">
                {% if page > 1 %}
                    <a href="{{ pagination_urls[page-2] }}">Previous</a>
                {% endif %}
            </div>

            <div class="next">
                {% if page < total_pages %}
                    <a href="{{ pagination_urls[page] }}">Next</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}