{% extends 'layout.html' %} {% block content %}
<div class="x">
    <div class="games_container">
    {% for game in games_list %}
    <div class="game_card {{ loop.cycle('odd', 'even') }}">
        <div class="image_container">
            <img src="{{ game.image_url }}" alt="Game art for {{ game.title }} " />
        </div>

        <div class="game_details">
            <div class="info-block">
                <p class="headings">TITLE</p>
                <p class="info">{{ game.title }}</p>
            </div>

            <div class="info-block">
                <p class="headings">PUBLISHER</p>
                <p class="info">{{ game.publisher.publisher_name }}</p>
            </div>

            <div class="info-block">
                <p class="headings">RELEASE DATE</p>
                <p class="info">{{ game.release_date }}</p>
            </div>

            <div class="info-block">
                <p class="headings">PRICE</p>
                <p class="info">{{ game.price }}</p>
            </div>

            <div class="info-block">
                <p class="headings">GENRES</p>
                <p class="info">{{ game.genres }}</p>
            </div>
        </div>

    </div>
    {% endfor %}
    </div>

    <div class="pagination">
        {% for i in range(1, total_pages + 1) %}
            <a href="{{ url_for('games_bp.games_page', page=i) }}">{{ i }}</a>
        {% endfor %}

        <div class="prev-next">
            <div class="prev">
                {% if page > 1 %}
                    <a href="{{ url_for('games_bp.games_page', page=page - 1) }}">Previous</a>
                {% endif %}
            </div>

            <div class="next">
                {% if page < total_pages %}
                    <a href="{{ url_for('games_bp.games_page', page=page + 1) }}">Next</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
</div>
