{% extends 'layout.html' %} {% block content %}
<main class="main">
  <p>
    Welcome to CS235 Game Library, the ultimate source of information and insights for Steam games.
    Whether you are a gamer, a developer, or a curious researcher, CS235 Game Library can help you
    discover new games, track sales and discounts, compare stats and achievements, and much more.
  </p>
  <p>
    With our extensive database and advanced search tools, you can easily find the games that match
    your interests and preferences. Whether you’re a casual gamer or a hardcore enthusiast, CS235
    Game Library has everything you need to stay up-to-date with the latest trends and developments
    in the world of Steam gaming. So why wait? Sign up today and start exploring! 😊
  </p>
</main>
{% endblock %}