<!DOCTYPE html>

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Game Library</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />

<!--	<link-->
<!--      rel="bookmark"-->
<!--	  type="image/x-icon"-->
<!--      href="favicon.ico"-->
<!--    />-->

<!--	<link-->
<!--      rel="icon"-->
<!--      href="favicon.ico"-->
<!--    />-->
  </head>

<!--  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->

  <body>
    <div id="body">
      <!-- Include navigation partial. -->
      {% include 'navbar.html' %}

        <div id="container">

            <!-- Include sidebar partial. -->
          {% include 'sidebar.html' %}

          <!-- Main content block to be supplied by page. -->
          {% block content %} {% endblock %}


        </div>

        {% include 'footer.html' %}
    </div>
  </body>
</html>
