<!DOCTYPE html>

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ heading }}</title>
    <link rel="icon" type="image/x-icon" href="../static/logo.png"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Stint+Ultra+Condensed&display=swap" rel="stylesheet">

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />

  </head>

  <body>
    <div id="body">
      <!-- Include navigation partial. -->
      {% include 'navbar.html' %}

        <div class="container">

            <!-- Include sidebar partial. -->
          {% include 'sidebar.html' %}

          <!-- Main content block to be supplied by page. -->
          {% block content %} {% endblock %}


        </div>

        {% include 'footer.html' %}
    </div>

  <script>
    function showReviewBox() {
      var x = document.getElementById("review-form");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
  </script>
  </body>
</html>
