{% extends 'layout.html' %} {% block content %}

<div class="main-body">
    <div class="authentication-title">
        <p>Login</p>
    </div>

    <div class="authentication-block">
        <form method="POST" action="{{ handler_url }}">
            {{ form.csrf_token }}
            <input class="authentication-field" type="text" id="username" name="username" placeholder="Username" />

            <input class="authentication-field" type="password" id="password" name="password" placeholder="Password" />

            <input class="submit-button authentication-field" type="submit" value="Login"/>
        </form>
    </div>
</div>

{% endblock %}