<div class="header">
  <h1>CS235 2023: My Game Library</h1>
  <div id="copyright">&copy; ewu814 (Elizabeth) &nbsp&nbsp | &nbsp&nbsp mgan655 (May) &nbsp&nbsp | &nbsp&nbsp akim525 (Alex)</div>
</div>
<!--  <img id="logo" src="{{ url_for('static', filename='logo.png') }}" />-->
<nav>
    <a class="btn-nav" href="#">Home</a>
    <a class="btn-nav" href="#">Games</a>
    <a class="btn-nav" href="#">Reviews</a>
    <a class="btn-nav" href="#">Wishlist</a>
    <input type="text" placeholder="Search..">
</nav>