{% extends 'layout.html' %} {% block content %}

<div class="profile-background">
    <div class="profile-heading"><h1>My Profile</h1></div>
    {% if 'user_name' in session %}
    <table class="profile-details">
        <tr>
            <td><b>Name:</b></td>
            <td>{{ session['name'] }}</td>
        </tr>
        <tr>
            <td><b>Username: &nbsp</b></td>
            <td>{{ session['user_name'] }}</td>
        </tr>
    </table>
    {% endif %}
    <div class="profile-review-heading"><h4>Recently added: </h4></div>
    <div class="review_games_container_container games_container_container">
    <div class="review_games_container games_container">

    <div class="review-game-card game_card">
        <a href="{{ url_for('profile_bp.profile_page') }}" class='card-link'></a>

        <div class="image_container">
            <img src="https://cdn.akamai.steamstatic.com/steam/apps/1228870/header.jpg?t=1601679243" onerror="this.onerror=null; this.src='../static/no-image.png'" alt="Game art for" />
        </div>

        <div class="game_details">
            <div class="info-block">
                <p class="headings">T I T L E</p>
                <p class="info">Bartlow's Dread Machine</p>
            </div>

            <div class="info-block">
                <p class="headings">P U B L I S H E R</p>
                <p class="info">Beep Games, Inc.</p>
            </div>

        </div>
    </div>
    <div class="review-game-card game_card">
        <a href="{{ url_for('profile_bp.profile_page') }}" class='card-link'></a>

        <div class="image_container">
            <img src="https://cdn.akamai.steamstatic.com/steam/apps/1228870/header.jpg?t=1601679243" onerror="this.onerror=null; this.src='../static/no-image.png'" alt="Game art for" />
        </div>

        <div class="game_details">
            <div class="info-block">
                <p class="headings">T I T L E</p>
                <p class="info">Bartlow's Dread Machine</p>
            </div>

            <div class="info-block">
                <p class="headings">P U B L I S H E R</p>
                <p class="info">Beep Games, Inc.</p>
            </div>

        </div>
    </div>
    <div class="review-game-card game_card">
        <a href="{{ url_for('profile_bp.profile_page') }}" class='card-link'></a>

        <div class="game_details">
            <div class="info-block">
                <p class="headings">S E E &nbsp M O R E</p>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="profile-review-heading"><h4>My reviews: </h4></div>
        <div class="review">
            <div class="review-image-container">
                <img class="review-image" src="https://cdn.akamai.steamstatic.com/steam/apps/7940/header.jpg?t=1646762118" alt="game image"/>
            </div>
            <div class="review-info-info">
                <div class="review-info">
                    <p class="game-name username" ><b>Game:</b> &nbsp; <a href="#">Xpand Rally</a></p>
                    <p class="rating"><b>Rating:</b> &nbsp; ★★★★★</p>
                    <p class="date"><b>Posted on:</b> &nbsp; 17 September 2023</p>
                </div>
                <p class="comment">I love this game so much! From the bottom of my heart</p>
            </div>
        </div>
        <div class="review">
            <div class="review-image-container">
                <img class="review-image" src="https://cdn.akamai.steamstatic.com/steam/apps/7940/header.jpg?t=1646762118" alt="game image"/>
            </div>
            <div class="review-info-info">
                <div class="review-info">
                    <p class="game-name username" ><b>Game:</b> &nbsp; <a href="#">Xpand Rally</a></p>
                    <p class="rating"><b>Rating:</b> &nbsp; ★★★★★</p>
                    <p class="date"><b>Posted on:</b> &nbsp; 17 September 2023</p>
                </div>
                <p class="comment">I love this game so much! From the bottom of my heart</p>
            </div>
        </div>
</div>

{% endblock %}