{% extends 'layout.html' %} {% block content %}

<div class="profile-background">
    <div class="profile-heading"><h1>My Profile</h1></div>
    <table class="profile-details">
        <tr>
            <td><b>Name:</b></td>
            <td>{{ session['name'] }}</td>
        </tr>
        <tr>
            <td><b>Username: &nbsp</b></td>
            <td>{{ session['user_name'] }}</td>
        </tr>
    </table>
    <div class="profile-review-heading"><h4>Recently added to your wishlist: </h4></div>
    <div class="review_games_container_container games_container_container">
    <div class="review_games_container games_container">

    {% if recently_added_games|length == 0 %}
        <h2 class="profile-message">You have not added any games to your wishlist yet!</h2>
    {% endif %}
    {% for game in recently_added_games %}
    <div class="review-game-card game_card">
        <a href="{{ url_for('gameDescription_bp.game_desc_page', game_id=game.game_id) }}" class='card-link'></a>

        <div class="image_container">
            <img src="{{ game.image_url }}" onerror="this.onerror=null; this.src='../static/no-image.png'" alt="Game art" />
        </div>

        <div class="game_details">
            <div class="info-block">
                <p class="headings">T I T L E</p>
                <p class="info">{{ game.title }}</p>
            </div>

            <div class="info-block">
                <p class="headings">P U B L I S H E R</p>
                <p class="info">{{ game.publisher.publisher_name }}</p>
            </div>

        </div>
    </div>
    {% endfor %}
<!--    <div class="review-game-card game_card">-->
<!--        <a href="{{ url_for('profile_bp.profile_page') }}" class='card-link'></a>-->

<!--        <div class="image_container">-->
<!--            <img src="https://cdn.akamai.steamstatic.com/steam/apps/1228870/header.jpg?t=1601679243" onerror="this.onerror=null; this.src='../static/no-image.png'" alt="Game art for" />-->
<!--        </div>-->

<!--        <div class="game_details">-->
<!--            <div class="info-block">-->
<!--                <p class="headings">T I T L E</p>-->
<!--                <p class="info">Bartlow's Dread Machine</p>-->
<!--            </div>-->

<!--            <div class="info-block">-->
<!--                <p class="headings">P U B L I S H E R</p>-->
<!--                <p class="info">Beep Games, Inc.</p>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
    <div class="review-game-card game_card special-game-details">
        <a href="{{ url_for('profile_bp.profile_page') }}" class='card-link'></a>

        <div class="game_details">
            <a href=" url_for(wishlist_bp.get_wishlist)">
                <div class="info-block">
                    <p class="headings">G O &nbsp T O &nbsp W I S H L I S T </p>
                </div>
            </a>
        </div>
    </div>
    </div>
    </div>
    <div class="profile-review-heading"><h4>My reviews: </h4></div>
        {% if reviews|length == 0 %}
        <h2 class="profile-message">You have not posted any reviews! Browse games <a class="link" href="{{ url_for('games_bp.games_page') }}">here</a></h2>
        {% endif %}
        {% for review in reviews %}
        <div class="review">
            <div class="review-image-container">
                <img class="review-image" src="{{ review.game.image_url }}" alt="game image"/>
            </div>
            <div class="review-info-info">
                <div class="review-info">
                    <p class="game-name username" ><b>Game:</b> &nbsp;
                        <a href="{{ url_for('gameDescription_bp.game_desc_page', game_id=review.game.game_id) }}">
                            {{ review.game.title }}
                        </a>
                    </p>
                    <div class="rating"><p class="star"><b>Rating:</b> &nbsp</p>

                        {% for stars in range(review.rating) %}
                            <p class="star">★</p>
                        {% endfor %}
                        {% for stars in range(5 - review.rating) %}
                            <p class="star">☆</p>
                        {% endfor %}
                    </div>
                    <p class="date"><b>Posted on:</b> &nbsp; {{ review.timestamp.strftime('%a %d %b %Y, %I:%M%p') }}</p>
                </div>
                <p class="comment"> {{ review.comment }}</p>
            </div>
        </div>
        {% endfor %}
<!--        <div class="review">-->
<!--            <div class="review-image-container">-->
<!--                <img class="review-image" src="https://cdn.akamai.steamstatic.com/steam/apps/7940/header.jpg?t=1646762118" alt="game image"/>-->
<!--            </div>-->
<!--            <div class="review-info-info">-->
<!--                <div class="review-info">-->
<!--                    <p class="game-name username" ><b>Game:</b> &nbsp; <a href="#">Xpand Rally</a></p>-->
<!--                    <p class="rating"><b>Rating:</b> &nbsp; ★★★★★</p>-->
<!--                    <p class="date"><b>Posted on:</b> &nbsp; 17 September 2023</p>-->
<!--                </div>-->
<!--                <p class="comment">I love this game so much! From the bottom of my heart</p>-->
<!--            </div>-->
<!--        </div>-->
</div>

{% endblock %}