{% extends 'layout.html' %} {% block content %}

<div class="profile-background">
    <div class="profile-heading"><h1>Person1's Profile</h1></div>
    <table class="profile-details">
        <tr>
            <td><b>Name:</b></td>
            <td>May</td>
        </tr>
        <tr>
            <td><b>Username: &nbsp</b></td>
            <td>blhablah</td>
        </tr>
    </table>
    <div class="profile-review-heading"><h4>My reviews: </h4></div>
        <div class="review">
            <div class="review-info">
                <p class="game-name username" ><b>Game name:</b> &nbsp; <a href="#">Xpand Rally</a></p>
                <p class="rating"><b>Rating:</b> &nbsp; ★★★★★</p>
                <p class="date"><b>Posted on:</b> &nbsp; 17 September 2023</p>
            </div>
            <p class="comment">I love this game so much! From the bottom of my heart</p>
        </div>
        <div class="review">
            <div class="review-info">
                <p class="game-name username" ><b>Game name:</b> &nbsp; <a href="#">Xpand Rally</a></p>
                <p class="rating"><b>Rating:</b> &nbsp; ★★★★★</p>
                <p class="date"><b>Posted on:</b> &nbsp; 17 September 2023</p>
            </div>
            <p class="comment">I love this game so much! From the bottom of my heart</p>
        </div>
</div>

{% endblock %}