{% extends 'layout.html' %} {% block content %}

<div class="main-body">

    <div class="authentication-title">
        <p>Register</p>
    </div>

    <div class="authentication-block">
        <form method="POST" action="{{ handler_url }}">
            {{ form.csrf_token }}
            {{ form.name(class="authentication-field", placeholder="Name") }}
            {{ form.user_name(class="authentication-field", placeholder="Username") }}
            {{ form.password(class="authentication-field", placeholder="Password") }}
            {{ form.submit(class="submit-button") }}
        </form>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="errors">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

</div>

{% endblock %}