<div class="reviews-box ">
    <div class="review-info-block">
        <div class="heading-button-container" >
            <p class="headings">R E V I E W S</p>

            {% if 'user_name' not in session %}
                <div class="button-container">
                    <a href="{{ url_for('authentication_bp.login') }}" class="add-review-button">Add review</a>
                </div>

                {% else %}
                    <div class="button-container">
                        <button onclick="showReviewBox()" class="add-review-button">Add review</button>
                    </div>
            {% endif %}
        </div>

        {% if 'user_name' in session %}
        <div id="review-form">
            <form method="POST" action={{url_for('search_bp.games_search_page')}}>
                <label for="rating"><span class="review-text">Rating: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span></label>
                <select class="rating-input" name="rating" id="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <br>
                <label for="comment"><span class="review-text">Comment: &nbsp</span></label>
                <textarea id="comment" name="comment" class="comment-box" rows="4" cols="50"></textarea>
                <input class="review-submit" type="submit">
            </form>
        </div>
        {% endif %}

        <div class="review">
            <div class="review-info">
                <p class="username" ><b>By:</b> &nbsp; username</p>
                <p class="rating"><b>Rating:</b> &nbsp; ★★★★★</p>
                <p class="date"><b>Posted on:</b> &nbsp; 17 September 2023</p>
            </div>
            <p class="comment">I love this game so much! From the bottom of my heart</p>
        </div>
    </div>
</div>