{% extends 'layout.html' %}
{% block content %}
<div class="wishlist-heading">My Wishlist
    <div class="wishlist-table">
        <table>
            <thead>
            <tr>
                <td>Image</td>
                <td>Price</td>
                <td>Release date</td>
                <td>Game</td>
                <td>Publisher</td>
                <td>Remove</td>
            </tr>
            </thead>

            <tbody>
                <tr>
                    <td><a href="#"><img src="\static\rubbish-bin.png"></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}



