{% extends 'layout.html' %}
{% block content %}
<div class="wishlist-heading">My Wishlist
    <div id="top-div">
        <form action = "/" method="POST">
            <input type = "text" id = "item" name = "item">
            <input type = "submit" value = "add" name = "addbutton">
        </form>
    </div>
    <div id="botton-div">
        <table>
            <tr>
                <th>Game Image</th>
                <th>Remove</th>
            </tr>
            {% for item in wishlist %}
            <tr>
                <td>{{item}}</td>
                <td><a href="#">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
