body {
    font-family: 'Lato', sans-serif;
}

#nav {
    background-color: green;
    text-align: center;
}

#nav h1 {
    color: purple;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 50px;
}

#footer {
    text-align: left;
    background-color: #d162a4;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 15px;
}

#header {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 20px;
    background-color: #a30262;
    padding-top: 5px;
    padding-bottom: 10px;
}

#container h2 {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 20px;
}

#container p{
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 20px;
    background-color: #d162a4;
    text-align: right;
}

#image p{
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 20px;
    background-color: #d162a4;
    text-align: left;
}
