body {
    font-family: 'Lato', sans-serif;
}

.header {
    background-color: #a30262;
    text-align: center;
    padding-bottom: 30px;
    overflow: hidden;
}

.header h1 {
    font-weight: 900;
    font-size: 50px;
}

<<<<<<< HEAD
#footer {
    text-align: left;
    background-color: #d162a4;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 15px;
}

#header {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 20px;
    background-color: #a30262;
    padding-top: 5px;
    padding-bottom: 10px;
}

#container h2 {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 20px;
}

#container p{
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 20px;
    background-color: #d162a4;
    text-align: right;
}

#image p{
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 20px;
    background-color: #d162a4;
    text-align: left;
}
=======
nav {
    background-color: #b55690;
    border: #3A7734;
    padding: 15px;
}

nav a {
    float: left;
    text-decoration: none;
    font-size: x-large;
    padding: 15px;
    display: block;
}

nav a:hover {
  background-color: #ff9a56;
  color: black;
}

nav a.active {
  background-color: #04AA6D;
  color: white;
}

nav input {
    float: right;
}

#copyright {
    text-align: center;
    padding-bottom: 30px;
}
>>>>>>> 41eb277a80f9b03b463e290fc3125bd2eed66180
