body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: white;
    padding-bottom: 60px;
    position: relative;
}

.header {
    background-color: #a30262;
    text-align: center;
    padding-bottom: 30px;
    overflow: hidden;
    color: white;
}

.header h1 {
    font-weight: 900;
    font-size: 50px;
}

#header {
    font-weight: 900;
    font-size: 20px;
    background-color: #a30262;
    padding: 5px 0 10px 0;
}

.container h2 {
    font-weight: 900;
    font-size: 20px;
}

.container p{
    font-weight: 0;
    font-size: 20px;
}

nav {
    background-color: #b55690;
    display: flex;
    justify-content: space-between;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px 40px 10px 40px;
    text-align: center;
    color: white;
}

nav a:hover {
    background-color: #ff9a56;
    color: white;
}

.d-flex {
    display: flex;
    align-items: center;
}

.options {
    color: white;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: medium;
    border-color: white;
    border-radius: 3px;
}

.options:hover {
    cursor: pointer;
}

select.options {
    background-color: #b55690;
}

select#sort,
select#order {
    background-color: #ef7627;
}

#copyright {
    text-align: center;
    padding-bottom: 10px;
}

#sidebar {
    min-width: 250px;
    padding-left: 0;
    background-color: #a30262;
}

#sidebar header {
    text-align: center;
    padding-top: 5%;
}

.sidebar-genres {
    position: sticky;
    top: 0;
    padding-top: 5%;
}

footer {
    text-align: center;
    background-color: #a30262;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    left: 0;
}

.description {
    position: relative;
    display: flex;
    gap: 2rem;
    margin: auto;
    width: 90%;
    padding-bottom: 20px;
}

.container {
    width: 100%;
    display: flex;
    background-color: #d162a4;
}

.main p{
    width: 90%;
    margin: 3% auto;
}

.games_container_container {
    display: flex;
    width: 100%;
}

.main-body {
    width: 100%;
}

.games_container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    align-items: start;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.review_games_container {
    width: 100%
}

.star {
    display: inline;
}

.game_card {
    margin: 0;
    background-color: #ff9a56;
    border-radius: 10px;
    position: relative;
    width: 30%;
    min-width: 300px;
    transition: box-shadow 0.5s, transform 0.5s;
}

.game_card:hover {
    box-shadow: 0 0 20px #a30262;
    transform: scale(1.03);
}

.card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.game_details {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.info-block {
    padding: 10px;
}

.headings {
    font-family: 'Stint Ultra Condensed', serif;
    font-size: x-small;
    margin: 0;
}

.info {
    margin: 0;
}

.image_container {
    width: 90%;
    min-width: 200px;
    margin: auto;
    padding: 20px 0 20px 0;
}

.image_container img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.odd {
    background-color: #ef7627;
}

.pagination {
    display: block;
    text-align: center;
    line-height: 40px;
    width: 90%;
    margin: 3% auto;
}

.pagination a {
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-color: #a30262;
    border-style: solid;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover {
    background-color: #ff9a56;
}

.page_selected {
    background-color:  #a30262;
}

.prev-next {
    display: flex;
    padding-top: 15px;
    justify-content: center;
}

.prev {
    display: inline-flex;
    float: left;
}

.next {
    display: inline-flex;
    float: right;
}

.sidebar-genres ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.genre-link {
    text-decoration: none;
}

.genre-link a {
    background-color: #ef7627;
    border: 2px solid #ef7627;
    border-radius: 10px;
    color: white;
    display: block;
    font-weight: bold;
    margin: 4px 10px 0 10px;
    padding: 0;
    text-align: center;
    text-decoration: none;
}

.genre-selected a {
    background-color: #a30262;
}

.genre-link a:hover {
    background-color: #ff9a56;
}

.description-info {
    background-color: #ef7627;
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.description-text {
    background-color: #ff9a56;
    border-radius: 10px;
    flex: 2;
}

.main-body h2,
.sort {
    display: block;
    margin: 3% auto;
    font-size: 1.5em;
    overflow: hidden;
    text-align: center;
    background-color: #ef7627;
    border-radius: 10px;
    width: 90%;
    padding: 10px 0 10px 0;
}


.left-description {
    display: block;
    flex: 1.1;
}

.reviews-box {
    background-color: #ef7627;
    border-radius: 10px;
    margin-top: 10%;
    display: flex;
    width: 100%;
}

.review-info-block {
    padding: 10px;
    width: 100%;
    margin: auto;

}

.review {
    background-color: #b55690;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    line-height: 0.6;
    width: 90%;
    display: flex;
    align-items: unsafe center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.add-review-button  {
    background-color: white;
    border-width: 3px;
    border-color: white;
    border-style: solid;
    color: #d162a4;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

.review-submit {
  background-color: #a30262;
  border-width: 3px;
  border-color: #a30262;
  border-style: dashed;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
  margin-top: 5px;
}


.heading-button-container {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  align-items: center;


}

.heading-button-container  p{
  margin: 10px;
}

.button-container {
    text-align: right;
    margin: 10px;
}

.add-review-button:hover {
    background-color: #d162a4;
    color: white;
    cursor: pointer;
}

.wishlist-heading {
    margin-top: 15px;
    text-align: center;
    font-size: 50px;
}

.wishlist-table table{
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    font-size: 20px;

}

.wishlist-table table thead{
    font-weight: 700;
}

.wishlist-table table thead td{
    background-color: #ef7627;
    border: none;
}

.review-submit:hover {
    background-color: white;
    color: #a30262;
    cursor: pointer;
}

.review-info {
    width: 100%;
    display: grid;
    margin: 0px;
    grid-template-columns: auto auto;
    line-height: 0.8;
}

.date {
    line-height: 1;
}

.review-info p {
    text-align: left;
    font-size: 16px;
    font-weight: 0;
    margin-bottom: 5px;
    margin-top: 5px;

}

.review-info-info {
    margin: 0px;
    width: 50%;
    min-width: 350px;
}

.date {
    grid-column-start: 1;
    grid-column-end: 3;
}

.comment {
    line-height: 1;
}

#review-form {
    margin: auto;
    width: 90%;
    display: none;
}

.comment-box {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-align: left;
    margin-top: 8px;
    border: 2px solid #ff9a56;
    border-radius: 4px;
    resize: none;
    color: #a30262;
    font-weight: bold;
}

.searchbar {
    font-family: 'Lato', sans-serif;
    border: white 2px solid;
    border-radius: 3px;
    color: #a30262;
    margin: 0 3px 0 3px;
}

.rating-input {
    width: 45px;
    height: 30px;
    border: 2px solid #ff9a56;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
    color: #a30262;
    font-weight: bold;
    margin-left: 10px;
}

.rating-input:focus, .comment-box:focus {
    outline: 2px dashed #a30262;
}

.rating {
    display: flex;
    align-items: right;
    justify-content: right;
}

.review-text {
    background-color: #ff9a56;
    border-radius: 5px;
    padding: 2px;
    font-weight: bold;
}

.authentication-title {
    display: block;
    margin: 3% auto;
    overflow: hidden;
    text-align: center;
    background-color: #ef7627;
    border-radius: 10px;
    width: 40%;
    font-weight: bold;
}

.authentication-block {
    background-color: #ff9a56;
    width: 40%;
    border-radius: 10px;
    margin: 3% auto;
    padding: 10px 0 10px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.authentication-block form {
    display: flex;
    flex-direction: column;
}

.authentication-field {
    margin-bottom: 10px;
    border: none;
    border-bottom: #a30262 3px solid;
    border-radius: 3px;
    background-color: rgba(0,0,0,0);
    color: white;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.authentication-field:focus {
    outline: none;
    background-color: #d162a4;
}

.authentication-field::placeholder {
    color: white;
}

.errors {
    display: block;
    margin: 3% auto;
    text-align: center;
    background-color: #ef7627;
    border-radius: 10px;
    width: 40%;
    font-weight: bold;
    padding: 10px;
}

.submit-button {
    background-color: white;
    border-color: white;
    border-style: solid;
    color: #d162a4;
    font-weight: bold;
    border-radius: 3px;
    font-family: 'Lato', sans-serif;
    transition: transform .2s;
}

.submit-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.profile-background {
    background-color: #ff9a56;
    width: 50%;
    min-width: 300px;
    max-width: 800px;
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
}

.profile-heading {
    background-color: #ef7627;
    padding: 2px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.profile-heading h1 {
    text-align: center;
}

.profile-details {
    margin: 10px;
    margin-bottom: 20px;
}

.profile-details tr td{
    font-size: 20px;
}

.profile-review-heading {
    background-color: #ef7627;
    padding: 5px;
    border-radius: 20px;
    margin-top: 5px;
}

.profile-review-heading h4 {
    text-align: center;
    margin: 0px;
    font-size: 20px;
}

.game-name a{
    color: white;
}

.game-name a:hover {
    color: white;
    background-color: #a30262;
}

.review-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.review-image-container {
    width: 40%;
    min-width: 200px;
    margin-right: 10px;
}

.review-game-card {
    background-color: #b55690;
    width: 20%;
    min-width: 210px;
    margin: 0;
}

.review_games_container_container {
    margin-top: 10px;
}


.wishlist_box {
    color: white;
    text-align: center;
    background-color: #ff9a56;
    margin-bottom: 20px;
    margin-right: 60px;
    margin-left: 60px;
    border-radius: 30px;
}

.wishlist-image,
.wishlist-image-clicked{
    position: absolute;
    top: 5px;
    right: 5px;
    transition: transform 1s;
}

.wishlist-image:hover {
    transform: scale(2);
    cursor: pointer;
}

